.heading {
	text-align: right;
	vertical-align: top;
}

.clear {
	clear: both;
	width: 100%;
	height: 1px;	
}

em {
	color: red;
}

#validationError {
	color: #D8000C;
	width: 98%;
	border: dashed 1px #D8000C;
	background-color: #FFBABA;
	padding-left: 5px;
	line-height: 23px;
	display: none;
}

#errorMsg {
	color: #D8000C;
	width: 98%;
	border: dashed 1px #D8000C;
	background-color: #FFBABA;
	padding-left: 5px;
	line-height: 23px;
}

#successMsg {
	color: #3207c2;
	width: 98%;
	border: dashed 1px #207c29;
	background-color: #37c944;
	padding-left: 5px;
	line-height: 23px;
}

#pluginNotification {
	color: #3207c2;
	width: 98%;
	height: 25px;
	border: dashed 1px #207c29;
	background-color: #37c944;
	padding-left: 5px;
	line-height: 23px;
	padding: 5px 5px 5px 5px;
	display: none;	
}

/* Start Table Sorted Styles */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
/* End Table Sorted Styles */

/* Two colum playlists style */
#S3PlaylistContainer {
	width: 100%;	
}

#S3PlaylistTitle {
	width: 100%;	
}

#S3PlaylistColumn {
	padding-top: 5px;
	padding-left: 10px;
	width: 49%;
	float: left;	
	margin-bottom: 20px;
}

table#playlistVideos td{
	border: solid 1px #111111;
	background-color: #CDCDCD;
	padding: 5px 10px 5px 10px;
}

.tdDragClass {
	background-color: #5897FB;	
}

/*--------------------- Start jTip ------------------------------*/

#JT_arrow_left{
	background-image: url(../images/arrow_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	left:-12px;
	height:23px;
	width:10px;
    top:-3px;
}

#JT_arrow_right{
	background-image: url(../images/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	height:23px;
	width:11px;
    top:-2px;
}

#JT {
	position: absolute;
	z-index:100;
	border: 2px solid #CCCCCC;
	background-color: #fff;
}

#JT_copy{
	padding:10px 10px 10px 10px;
	color:#333333;
}

.JT_loader{
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:32px;
}

#JT_close_left{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_close_right{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_copy p{
margin:3px 0;
}

#JT_copy img{
	padding: 1px;
	border: 1px solid #CCCCCC;
}

.jTip{
cursor:help;
}

/*---------------------- End jTip -------------------------------*/
