.heading {
	text-align: right;
}

.clear {
	clear: both;
	width: 100%;
	height: 1px;	
}

em {
	color: red;
}

#validationError {
	color: #D8000C;
	width: 98%;
	border: dashed 1px #D8000C;
	background-color: #FFBABA;
	padding-left: 5px;
	line-height: 23px;
	display: none;
}

#successMsg {
	color: #3207c2;
	width: 98%;
	border: dashed 1px #207c29;
	background-color: #37c944;
	padding-left: 5px;
	line-height: 23px;
}

/* Start Table Sorted Styles */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}
/* End Table Sorted Styles */

/* Two colum playlists style */
#S3PlaylistContainer {
	width: 100%;	
}

#S3PlaylistTitle {
	width: 100%;	
}

#S3PlaylistColumn {
	padding-top: 5px;
	padding-left: 10px;
	width: 49%;
	float: left;	
	margin-bottom: 20px;
}

table#playlistVideos td{
	border: solid 1px #111111;
	background-color: #CDCDCD;
	padding: 5px 10px 5px 10px;
}

.tdDragClass {
	background-color: #5897FB;	
}
