.heading {
	text-align: right;
	font-weight: bold;
}

em {
	color: red;
}

#validationError {
	color: #D8000C;
	width: 98%;
	border: dashed 1px #D8000C;
	background-color: #FFBABA;
	padding-left: 5px;
	line-height: 23px;
	display: none;
}

#successMsg {
	color: #3207c2;
	width: 98%;
	border: dashed 1px #207c29;
	background-color: #37c944;
	padding-left: 5px;
	line-height: 23px;
}