<h2>Flowplayer</h2>

<p>The S3 video plugin uses the free flash version of flowplayer.</p>

<br />

<p>
	Some considerations and tips when using Flowplayer are as follows:
</p>

<br />
	
<p><strong>-</strong>Playlists will always play in flowplayer regardless of what player is selected in the plugin settings.</p>
<br />

<p><strong>-</strong>Flowplayer requires flash to work making it unsuitable for devices that do not have flash installed.</p>
<br />

<p><strong>-</strong>If you are using .flv videos, it is recommended you use Flowplayer.</p>
<br />

<p><strong>-</strong>The object embed code, is provided for use on pages external to Wordpress and as such must use Flowplayer in order to avoid dependencies..</p>
<br />