<h2>Video Player Dimensions</h2>

<p>The default dimensions of your video player on a page.</p>

<p>The dimensions can still manually be defined on a per video basis though by adding "width" & "height" parameters to the video embed shortcode.</p>

<br />

<p><strong>PLEASE NOTE:</strong> The player can be resized to any dimension, but you must maintain the same aspect ratio as your original video file. Failure to do so will result in the player being unable to scale your video and the file will not play. </p>

